.breadcrumbs {
  margin: $size-micro * 7 0 $size-base;
  &__content {
    @extend .content;

    ol {
      list-style: none;

      li {
        display: inline;
        @include adjust-font-size-to(14px);
      }
      li:nth-child(1n) {
        color: $text-color-secondary;
      }
      li:nth-child(2n) {
        color: $color-primary; 
      }
      li + li::before {
        color: #acacac;
        content: "\003e";
      }
    }
  }
}
