.footer {
  background: $color-primary 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  padding: $size-medium;
}
.footer__social-icons {
    a {
        color: $shadow-gray;
        margin: $size-base;
    }
    a:hover {
        color: $color-gray-0;
    }
}

.footer__copyright {
    padding: $size-medium;
    color: $shadow-gray;
}