.header-bar {
  background-color: $color-gray-900;
  height: $size-medium - $size-nano;
  margin-bottom: $size-micro + $size-base;
  @extend .center;

  &__content {
    @extend .content;
    @extend .center;
  }

  &__content-link {
    @include adjust-font-size-to(14px);
    color: $color-gray-0;
    letter-spacing: 0px;
    opacity: 1;

    a {
      text-decoration: underline;
      font-weight: 600;
      color: $color-gray-0;
    }
  }
}

.header {
  margin-bottom: $size-micro + $size-base;

  &__content {
    @extend .content;
    display: flex;
    align-items: flex-start;
  }

  &__content-icon {
    flex: 1;
    button {
      padding: $size-micro;
      background: $color-gray-0;
    }
  }
  
  &__content-logo-search {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;

    .search {
      display: none;
    }
  }
}

@media screen and (min-width: $medium-devices) {
  .header-bar {
    margin-bottom: $size-medium;
    &__content {
      justify-content: flex-end;
    }
  }

  .header {
    &__content {
      flex-wrap: wrap;
    }
    &__content-icon {
      display: none;
    }

    &__content-logo-search {
      .search {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        input {
          @include adjust-border-color($border-color-input);
          padding: ($size-nano * 5) + calc($size-nano / 2);
          width: 414px;
          background: $color-gray-0 0% 0% no-repeat padding-box;
        }

        button {
          padding: $size-micro * 3 $size-micro * 7;
          background: $color-secondary;
          color: $color-gray-0;
          font-weight: 800;
        }
      }
    }
  }
}
