.navbar {
  display: none;
  &__content {
    @extend .content;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: $medium-devices) {
  .navbar {
    display: flex;
    height: 54px;
    background-color: $color-primary;
    margin: $size-micro * 7 0;

    &__content {
      ul {
        display: flex;
      }
      li {
        padding-right: 48px;
        list-style: none;

        button {
          color: $color-gray-0;
          @include adjust-font-size-to(16px);
          text-decoration: none;
          font-weight: 800;
          text-align: center;
          background: $color-primary;
          border-bottom: 2px solid $color-primary;
          cursor: pointer;
        }
        button:hover {
          border-bottom: 2px solid $color-gray-0;
        }
      }

      li:nth-child(5n)
      {
          padding-right: 0;
      }
    }
  }
}
