.section {
  width: 100%;
  &__title {
    margin-bottom: $size-base;
    padding-bottom: $size-small;
    border-bottom: calc($size-nano / 2) solid $border-color-block;
    span {
      @include adjust-font-size-to(32px);
      color: $color-primary;
      font-weight: 600;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: $size-medium * 2;
  }
  &__item--view {
    display: none;
  }
  &__item--order {
    span {
      @include adjust-font-size-to(10px);
      font-weight: 800;
      color: $text-color-primary;
      padding-right: $size-base;
    }
    select {
      @include adjust-border-color($border-color-block);
      border-radius: 5px;
      background: $color-gray-0 0% 0% no-repeat padding-box;
      max-width: 216px;
      min-width: 193px;
    }
  }
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 22px;
  justify-content: center;
}

.card {
  &__border {
    @include adjust-border-color($border-color-block);
    padding: 8px;
  }
  &__img {
    width: 100%;
    height: 146px;
    object-fit: contain;
  }
  &__item {
    @extend .center;
    flex-direction: column;
  }
  &__item-name {
    padding-bottom: $size-small * 3;
    span {
      @extend .center;
      text-align: center;
    }
  }
  &__item-value {
    span {
      @include adjust-font-size-to(21px);
      font-weight: 800;
      color: $text-color-secondary;
    }
  }
  &__item-buy {
    margin-top: $size-small;
    button {
      color: $color-gray-0;
      padding: 8px 58px;
      font-weight: 800;
      background: $color-secondary 0% 0% no-repeat padding-box;
      border-radius: 5px;
    }
  }
}

.fa-th:before {
  @include adjust-font-size-to(24px);
  margin-right: 16px;
  color: $color-primary;
}
.fa-list::before {
  @include adjust-font-size-to(24px);
  color: $color-secondary;
}

@media screen and (min-width: $medium-devices) {
  .section {
    width: 70%;

    &__item--view {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: $large-devices) {
  .section {
    width: 80%;
  }
}
