.sidebar {
  @include adjust-border-color($border-color-block);
  width: 100%;
  padding: $size-base;
  margin-bottom: $size-base;
  &__title {
    @include adjust-font-size-to(24px);
    color: $color-primary;
    font-weight: 800;
    margin-bottom: $size-base;
  }
  &__item {
    margin: $size-base 0;
    ul {
      color: $text-color-primary;
      margin: $size-base $size-base + $size-small;
      li {
        button {
          @include adjust-font-size-to(16px);
          background: $color-gray-0;
          cursor: pointer;
          border-bottom: 2px solid $color-gray-0;
        }
        button:hover {
          border-bottom: 2px solid $color-secondary;
          color: $color-secondary;
        }
      }
    }
    div {
      margin: $size-base 0;
    }
  }
  &__item-title {
    @include adjust-font-size-to(18px);
    color: $text-color-secondary;
    font-weight: 800;
  }
  &__btn {
    padding: 12px 24px;
    margin-left: 2px;
    &--black {
      background-color: black;
    }
    &--orange {
      background-color: orangered;
    }
    &--yellow {
      background-color: yellow;
    }
    &--pink {
      background-color: palevioletred;
    }
    &--blue {
      background-color: blue;
    }
    &--beige {
      background-color: beige;
    }
    &--beige {
      background-color: beige;
    }
    &--grey {
      background-color: gray;
    }
  }
}

@media screen and (min-width: $medium-devices) {
  .sidebar {
    width: 30%;
    margin-right: $size-base;
    &__item-title {
      color: $color-secondary;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: $large-devices) {
  .sidebar {
    width: 20%;
  }
}

@media screen and (min-width: $extra-large-devices) {
  .sidebar {
    &__item-title {
      color: $text-color-secondary;
      font-weight: 800;
    }
  }
}
