$font-default: "Open Sans", sans-serif;

$small-devices: 320px;
$medium-devices: 768px;
$large-devices: 1024px;
$extra-large-devices: 1440px;

$size-nano: 0.125rem; // 2px
$size-micro: 0.25rem; // 4px
$size-small: 0.5rem; // 8px
$size-base: 1rem; // 16px
$size-medium: 2rem; // 32px

$color-gray-0: #ffffff;
$color-gray-900: #231f20;

$color-primary: #cb0d1f;
$color-secondary: #00a8a9;

$shadow-base: rgba($color-gray-900, 0.9);
$shadow-gray: rgba(255, 255, 255, 0.7);

$border-color-input: #959595;
$border-color-block: #e2dedc;

$text-color-primary: #626262;
$text-color-secondary: #1e2b50;
