* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: $font-default;
}

body {
  background-color: $color-gray-0;
}

.content {
  width: 100%;
}

.outer-container {
  @extend .content;
  display: block;
  margin-bottom: $size-medium * 3;
}

@media screen and (min-width: $small-devices) {
  .content {
    padding: 0 $size-base;
  }
}

@media screen and (min-width: $medium-devices) {
  .content {
    padding: 0 $size-base + $size-micro;
  }
  .outer-container {
    display: flex;
  }
}

@media screen and (min-width: $large-devices)  {
  .content {
    padding: 0 $size-base + $size-micro;
  }
}

@media screen and (min-width: $extra-large-devices) {
    .content {
      padding: 0 $size-nano * 50;
    }
  }
  